<footer class="footer py-5 bg-dark text-light">
    <div class="container">

        <!-- Redes sociales -->
        <div class="row justify-content-center mb-4">
            <div class="col-md-6 text-center">
                <h5>Síguenos en nuestras redes sociales</h5>
                <div class="d-flex justify-content-center mt-3">
                    <a href="#" class="text-light mx-3"><i class="fi fi-brands-facebook icons"></i></a>
                    <a href="#" class="text-light mx-3"><i class="fi fi-brands-instagram icons"></i></a>
                    <a href="#" class="text-light mx-3"><i class="fi fi-brands-tik-tok icons"></i></a>
                    <a href="#" class="text-light mx-3"><i class="fi fi-brands-youtube icons"></i></a>
                </div>
            </div>
        </div>
        <!-- Información de la empresa -->
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <p class="text-footer">Buscar Viajes ED N.V, Uniempresarial, 10021 Bogotá, Colombia.</p>
                <p class="text-footer">Copyright 2024 Buscar Viajes ED | Todos los derechos reservados.</p>
            </div>
        </div>
    </div>
</footer>
